<section class="datepicker-demo-canvas">
  <h1>Some examples of datepickers</h1>

  <h3>Basic datepicker</h3>
  <ul>
    <li>Toggles on click</li>
    <li>The input is useless, typing on it has not effect</li>
    <li>It doesn't close after a selection, you need to click outside to close it</li>
    <li>
      Unlike the power-calendar, if can change months even if the user doesn't provide an
      <code>onCenterChange</code> action, because has a default implementation.
    </li>
  </ul>

  <h4>Small</h4>
  <PowerDatepicker
    @selected={{this.selected}}
    @onSelect={{this.updateSelectedValue}} as |dp|>
    <dp.Trigger tabindex="-1">
      {{! template-lint-disable require-input-label }}
      <input type="text" readonly value={{this.selected}}>
    </dp.Trigger>

    <dp.Content class="demo-datepicker-bootstrap demo-datepicker-small">
      <dp.Nav />
      <dp.Days />
    </dp.Content>
  </PowerDatepicker>

  <h4>Medium</h4>
  <PowerDatepicker
    @selected={{this.selected}}
    @onSelect={{this.updateSelectedValue}} as |dp|>
    <dp.Trigger tabindex="-1">
      {{! template-lint-disable require-input-label }}
      <input type="text" readonly value={{this.selected}}>
    </dp.Trigger>

    <dp.Content class="demo-datepicker-bootstrap demo-datepicker-medium">
      <dp.Nav />
      <dp.Days />
    </dp.Content>
  </PowerDatepicker>
</section>


<h2>Demos that the addon should include</h2>
<ol>
  <li>Basic usage. Just mandatory options.</li>
  <li>Bind classes and stuff. Create bootstrap-like and material-like themes</li>
  <li>Add min date. Cannot change to a month before that date.</li>
  <li>Add max date. Cannot change to month after that date.</li>
  <li>Customize the \{{cal.nav}} with a block</li>
  <li>Customize the \{{cal.nav}} with custom component</li>
  <li>Customize the \{{cal.days}} with a block</li>
  <li>Customize the \{{cal.days}} with a custom component</li>
  <li>Allow to open the calendar with a button next to the input</li>
  <li>Allow to type in an input and do a best guess of the intention of the user</li>
  <li>Range datepicker</li>
  <li>Range with two calendars that move independently</li>
  <li>Multiple datepicker</li>
</ol>
