<section class="datepicker-demo-canvas">
  <h3>Basic usage: Minimal options</h3>

  <h4>Small</h4>
  {{#power-datepicker
    selected=selected
    onSelect=(action (mut selected) value="date")
    as |dp|}}
    {{#dp.trigger tabindex="-1"}}
      <input type="text" class="form-control" readonly value={{compute dp.helpers.format-date}}>
    {{/dp.trigger}}

    {{#dp.content class="dropdown-menu demo-datepicker-small"}}
      {{dp.nav}}{{dp.days}}
    {{/dp.content}}
  {{/power-datepicker}}

  <h4>Medium</h4>
  {{#power-datepicker
    selected=selected
    onSelect=(action (mut selected) value="date")
    as |dp|}}
    {{#dp.trigger tabindex="-1"}}
      <input type="text" class="form-control" readonly value={{compute dp.helpers.format-date}}>
    {{/dp.trigger}}

    {{#dp.content class="dropdown-menu demo-datepicker-medium"}}
      {{dp.nav}}{{dp.days}}
    {{/dp.content}}
  {{/power-datepicker}}

  <h3>Bootstrap-datepicker like theme</h3>
  {{#power-datepicker
    selected=selected
    onSelect=(action (mut selected) value="date")
    as |dp|}}
    {{#dp.trigger tabindex="-1"}}
      <input type="text" class="form-control" readonly value={{compute dp.helpers.format-date}}>
    {{/dp.trigger}}

    {{#dp.content class="dropdown-menu demo-datepicker-small bootstrap-datepicker-theme"}}
      {{dp.nav}}{{dp.days}}
    {{/dp.content}}
  {{/power-datepicker}}

  <h3>Material-datepicker like theme</h3>
  {{#power-datepicker
    onOpen=(action 'log')
    selected=selected
    onSelect=(action (mut selected) value="date")
    as |dp|}}

    <div class="md-datepicker-input-container">
      <input type="text" class="md-datepicker-input" readonly value={{compute dp.helpers.format-date}} data-ebd-id="{{dp.uniqueId}}-trigger">
      <button onclick={{dp.actions.open}}
        aria-controls="ember-basic-dropdown-content-{{dp.uniqueId}}"
        class="md-datepicker-triangle-button md-icon-button md-button">
        <div class="md-datepicker-expand-triangle"></div>
      </button>
    </div>


    {{#dp.content class="material-datepicker-theme"}}
      {{dp.nav}}{{dp.days weekdayFormat="min"}}
    {{/dp.content}}
  {{/power-datepicker}}

  <h3>Min date</h3>
  <p>Not implemented</p>

  <h3>Max date</h3>
  <p>Not implemented</p>

  <h3>Customize \{{datepicker.nav}} with a block</h3>
  <p>Not implemented</p>

  <h3>Customize \{{datepicker.days}} with a block</h3>
  <p>Not implemented</p>

  <h3>Datepicker that open with a button next to an input, not with the input itself</h3>
  <p>Not implemented</p>
</section>