<h1>Some examples of datepickers</h1>

<h3>Basic datepicker</h3>
<ul>
  <li>Toggles on click</li>
  <li>The input is useless, typing on it has not effect</li>
  <li>It doesn't close after a selection, you need to click outside to close it</li>
</ul>

<h4>Small</h4>
{{#power-datepicker
  selected=selected
  onSelect=(action (mut selected) value="date")
  as |dp|}}
  {{#dp.trigger tabindex="-1"}}
    <input type="text" readonly value={{compute dp.helpers.format-date}}>
  {{/dp.trigger}}

  {{#dp.content class="demo-datepicker-bootstrap demo-datepicker-small"}}
    {{dp.nav}}{{dp.days}}
  {{/dp.content}}
{{/power-datepicker}}

<h4>Medium</h4>
{{#power-datepicker
  selected=selected
  onSelect=(action (mut selected) value="date")
  as |dp|}}
  {{#dp.trigger tabindex="-1"}}
    <input type="text" readonly value={{compute dp.helpers.format-date}}>
  {{/dp.trigger}}

  {{#dp.content class="demo-datepicker-bootstrap demo-datepicker-medium"}}
    {{dp.nav}}{{dp.days}}
  {{/dp.content}}
{{/power-datepicker}}
